# Virtual environment
venv/
ENV/
env/

# env files
.env

# Python cache
__pycache__/
*.py[cod]

# Django stuff
*.log
*.sqlite3

# Media files
media/

# VSCode settings
.vscode/

# OS
.DS_Store
Thumbs.db