<!DOCTYPE html>
<html lang="ja" class="site-root">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title class="site-title">📕 Arcane Grimoire Market（仮）</title>
    </head>

    <body class="site-body">

        <header class="site-header">
            <div class="site-header-inner">
                <h1 class="site-logo">
                    Arcane Grimoire Market
                </h1>
            </div>
        </header>

        <main class="site-main">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="site-footer">
            <div class="site-footer-inner">
                <p class="site-footer-text">
                    © Arcane Grimoire Market
                </p>
            </div>
        </footer>

    </body>
</html>
